body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #200570, #040305, #110668);
  color: rgb(247, 242, 242);
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.board {
  margin-bottom: 26px;

  .board-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 16px;
    border-bottom: 2px solid #000;
    &:last-child {
      border-bottom: none;
    }
    .square {
      width: 100px;
      height: 100px;
      border: 8px solid #dfdcd4;
      font-size: 2.5rem;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
      border-radius: 24px;
      box-shadow: 10px 10px 16px #d0cbc0;
    }
  }
}

.new-game {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.new-game:hover {
  font-size: 34px;
  font-weight: 800;
  color: rgb(232, 225, 36);
  padding: 16px;
  border-radius: 16px;
  background-color: #2d19c4;
  transition: 1s ease-in-out;
}

.footer {
  color: #767171;
  border-top: 2px solid rgb(107, 100, 100);
}

.footer a {
  color: #767171;
  text-decoration: none;
}

.footer:hover {
  color: #570303;
  text-decoration: dashed;
  background-color: #c6f186;
  font-size: 24px;
  padding: 10px;
  border-radius: 12px;
  transition: 1s ease-in-out;
}
